/* ============================================= */
/*              Variables                        */
/* ============================================= */

//Colors//
$prim-color: #777;
$headline-h: #58e1c1;
$link-col11: #51ddfc;
$text-color: #fff;
$error-col9: #e4757a;
$col3: #deb2ee;
$col4: #4da2bb;
$col6: #4da2bb;
$button-colors: #51ddfc, #e4757a, #927bc1, #63cc82, #fd7856;
$col-colors: (
    12:#58e1c1,
    6: #4da2bb,
    4: #51ddfc, 
    3: #deb2ee, 
    5: #88d9a0, 
    7: #ec9fa3,
    8: #fd9f85
    );


//Media Querry Breakpoints//
$breakpoint: 768px;

//Font//
$font: 'Lato', sans-serif;

//Font Weight//
$regular-font: 300;