/* ============================================= */
/*              Variables                        */
/* ============================================= */

//Colors//
$color: #777;
$headline-hover: #58e1c1;
$link-col11: #51ddfc;
$text-color: #fff;
$error-col9: #e4757a;
$col3: #deb2ee;
$col4: #4da2bb;
$col6: #4da2bb;
$button-colors: #51ddfc, #e4757a, #927bc1, #63cc82, #fd7856;
$col-colors: #58e1c1, #4da2bb, #4da2bb, #4da2bb, #4da2bb, #4da2bb, #deb2ee, #deb2ee, #deb2ee, #deb2ee, #88d9a0, #ec9fa3, #fd9f85, #4da2bb, #ec9fa3;


//Media Querry Breakpoints//
$breakpoint: 768px;

//Font Weight//
$regular-font: 300;