/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    @include block;
    @include width;
    max-height: 100%;
  }

  &-frame {
    @include block;
    @include width;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  &-logo {
    @include block;
  }
}
