// Variables
// ======================================= //


// Colors
$primary-color: #f2d9d9;
$secondary-color: #eff2d9;
$brn-color: #acdee8;
$link-color: #07a940;
$header-footer-color: #76e5fb;

// Media Size
$media-size: 768px;